/* In this code, I've ordered my selectors based on the Element Sorting order in Meiert's 2013 article, as well as by media queries towards the end.*/

/* HTML Selectors */

* {
    font-family: 'DM Sans', sans-serif;
    color: #4A390B;
    text-align: left;
    font-size: 1em;
}

/* Sectioning and Structoring Selectors */

body {
    width: 100%;
    margin: 0 auto;
}

nav {
    display: block;
    background-color: #FBF8E0;
    margin: 0em;
    padding: 1%;
}

.cover-image {
    display: block;
    width: 100%;
    height: 30em;
}

#learn-new-songs, #listen-to-covers, #join-our-community, #grow-as-musician {
    background-color: #E7FBE0;
    overflow: scroll;
}

#grow-as-musician {
    clear: right;
}

footer {
    background-color: #FBF8E0;
    margin: 2em 0em 0em 0em;
}

/* Headings Selectors */

h1 {
    font-family: 'Inria Serif', serif;
    font-size: 2em;
}

h2 {
    font-family: 'Inria Serif', serif;
    font-size: 1.5em;
    text-align: center;
}

h3 {
    font-family: 'Inria Serif', serif;
    font-size: 1.2em;
}

/* Media Selectors */

.logo {
    margin: 0em;
    padding: 0em;
    height: 5em;
}

.menu-icon {
    vertical-align: middle;
    margin: 1%;
    padding: 1%;
    height: 3em;
}

.cover-image img {
    display: block;
    width: 100%;
    height: 30em;
    object-fit: cover;
}

.block-picture {
    width: 95%;
    height: 20em;
    object-fit: cover;
}

/* Phrasing Selectors */

a:hover.nav-item {
    font-weight: bold;
}

.explore-footer a, .contact-footer a {
    text-decoration: none;
}

.explore-footer a:hover, .contact-footer a:hover {
    font-weight: bold;
}

/* Attributes */

.nav-item {
    vertical-align: middle;
    margin: 1%;
    padding: 1%;
    color: #4A390B;
    font-size: 1em;
    text-decoration: none;
    height: 5em;
}

.full-nav {
    display: inline;
}

.cover-title {
    font-family: 'Inria Serif', serif;
    position: absolute;
    top: 35%;
    display: block;
    width: 100%;
    color: rgb(255,255,255);
    margin: auto;
    font-size: 5em;
    text-align: center;
}

.block-link {
    text-decoration: none;
    font-style: italic;
}

.other-heading {
    text-align: center;
    padding: 1%;
}

.quote {
    font-size: 2em;
    font-style: italic;
    font-family: 'Inria Serif', serif;
}

/*The below media queries help implement a mostly fluid transition design, where there are fewer changes from large to medium screens, but more changes for small screens.*/

/* On screens that are 777px or more, keep the 2 column structure for "Our Story" and "About Me" and the 4 column structure for "Explore". */
@media screen and (min-width: 777px){
    #our-story, #about-me {
        display: flex;
        max-height: 25em;
    }
    #explore {
        display: flex;
    }
    footer {
        display: flex;
    }
    .our-story-image, .about-me-image {
        width: 50%;
        float: left;
        clear: left;
        object-fit: cover;
    }
    .our-story-text, .about-me-text {
        width: 46%;
        padding: 2%;
        float: left;
        clear: right;
    }
    #learn-new-songs, #listen-to-covers, #join-our-community, #grow-as-musician {
        width: 21%;
        padding: 1%;
        margin: 1%;
        text-align: center;
        float: left;
        height: 28em;
    }
    .quote, .explore-footer, .contact-footer {
        float: left;
        padding: 1%;
        margin: 1%;
    }
    .quote {
        width: 40%;
    }
    .explore-footer {
        width: 24%;
    }
    .contact-footer {
        width: 24%;
    }
    .menu-icon {
        display: none;
    }
}


/* On screens that are 776 or less, keep the 2-column structure for "Our Story" and "About Me", but drop from a 4-column to 2-column structure for "Explore", and decrease the width of the quote in the footer. */

@media screen and (max-width: 776px) {
    #our-story, #about-me {
        display: flex;
        max-height: 30em;
    }
    #explore {
        display: flexbox;
        clear: right;
    }
    .our-story-image, .about-me-image {
        width: 50%;
        float: left;
        clear: left;
        object-fit: cover;
    }
    .our-story-text, .about-me-text {
        width: 46%;
        padding: 2%;
        float: left;
        clear: right;
    }
    #learn-new-songs, #listen-to-covers, #join-our-community, #grow-as-musician {
        width: 46%;
        padding: 1%;
        margin: 1%;
        text-align: center;
        float: left;
        height: 30em;
    }
    .quote, .explore-footer, .contact-footer {
        float: left;
        padding: 1%;
        margin: 1%;
        width: 29.3333333333%;
        background-color: #FBF8E0;
    }
    .full-nav {
        display: none;
    }
    .menu-icon{
        position: relative;
        left: 70%;
    }
}


/* On screens that are 576 or less, drop everything to a 1-column structure in all sections. */
@media screen and (max-width: 576px) {
    #our-story, #about-me {
        display: block;
        max-height: 30em;
    }
    #explore {
        display: block;
        clear: right;
    }
    .our-story-image, .about-me-image {
        width: 100%;
        clear: both;
        object-fit: cover;
        display: block;
    }
    .our-story-text, .about-me-text {
        width: 96%;
        padding: 2%;
        clear: both;
        display: block;
    }
    #learn-new-songs, #listen-to-covers, #join-our-community, #grow-as-musician {
        width: 98%;
        padding: 1%;
        margin: 1%;
        text-align: center;
        display: block;
    }
    .quote, .explore-footer, .contact-footer {
        float: left;
        padding: 1%;
        margin: 1%;
        width: 98%;
        display: block;
        background-color: #FBF8E0;
    }
    .full-nav {
        display: none;
    }
    .menu-icon{
        position: relative;
        left: 60%;
    }
}
